################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JingleJamSandwich/.vs/JingleJamSandwich
/JingleJamSandwich/Intermediate
/JingleJamSandwich/Binaries/Win64
/JingleJamSandwich/Saved
